apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: goserver
  newName: and3510/gitopsfc
  newTag: 5e672dc4562a726876cb2b1488b10a47a9645360
