apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: goserver
  newName: and3510/gitopsfc
  newTag: f8d6db781c8dd08f7344bd5b85a8172b6b3decee
